{% extends "base.html" %}

{% block content %}
<div class="sites">
<div class="site">
<h3> {{ result.test }} </h3>
<h3> {{ result.site.name }} </h3>
  <font color="{{ result.succeeded|yesno:"green,red" }}" title="{{ result.site.url }}">
    <center>{{ result.succeeded|yesno:"PASSED,FAILED" }}</center>
    </font>
    <h3>run at {{ result.run_date|date:"g:iA"|lower }}</h3>
    <hr>
{% if result.content %}
<h3> Content </h3>
<pre>
{{ result.content }}
</pre>
</p>
{% endif %}
<p>
<h3> Code Executed </h3>
<pre>
{{ template|urlize }}
</pre>
</p>

</div>
</div>

{% endblock %}
