{% extends "base.html" %}

{% block content %}
<h1> {{ results.0.test }} </h1>
<h2> {{ results.0.site.slug }} </h2>
<div class="sites">
    {% for result in results %}
    <div class="site">
        <p>
            <a class="{{ result.succeeded|yesno:"passed,succeeded" }}" title="{{ result.site.url }}">
                <strong>{{ result.succeeded|yesno:"PASSED,FAILED" }}</strong>
                <small>run at {{ result.run_date|date:"g:iA"|lower }}</small>
                <small>Duration {{ result.duration }}</small>
            </a>
        </p>
        {% if result.content %}
        <h3> Content </h3>
<pre>
{{ result.content }}
</pre>
{% endif %}
<p> 
<a> 
<strong> Code Executed </strong>
<pre>
{{ result.test.body|urlize }}
</pre>
</a>
</p>
</div>
{% endfor %}
</div>

{% endblock %}

