{% extends "base.html" %}

{% block content %}
{% load kong_tags %}
<h1> {{ results.0.test }} </h1>
<h2> {{ results.0.site.slug }} </h2>
<div class="sites">
    {% for result in results %}
    <div class="site">
        <p>
            <a class="{{ result.succeeded|yesno:"passed,succeeded" }}" title="{{ result.site.url }}">
                <strong>{{ result.succeeded|yesno:"PASSED,FAILED" }}</strong>
                <small>run at {{ result.run_date|date:"g:iA"|lower }}</small>
                <small>Duration (ms) {{ result.duration|micro_to_milli }}</small>
            </a>
        </p>
        {% if result.content %}
        <h3> Content </h3>
<pre>
{{ result.content }}
</pre>
{% endif %}
<p> <a> <strong> Code Executed </strong> </a> </p>
<pre>
{{ result|render_twill|urlize }}
</pre>
</div>
{% endfor %}
</div>

{% endblock %}

