{% extends "base.html" %}

{% block title %}
Results for {{ results.0.test }}
{% endblock %}

{% block content %}
{% load kong_tags %}
<div id="placeholder" style="position:relative; width:640px; height:280px;">
<script type="text/javascript">
$(function () {
        $.plot($("#placeholder"), [
            {
                label: '{{ results.0.test }}',
                data: {{ flot_list }},
                points: { show: true },
                lines: { show: true },
                /*
                xaxis: {
                    mode: "time",
                },
                */
            }
            ]);
});

</script>
</div>
<h1> {{ results.0.test }} </h1>
<h2> {{ results.0.site.slug }} </h2>
<div class="sites">
    {% for result in results %}
    <div class="site">
        <p>
            <a class="{{ result.succeeded|yesno:"passed,succeeded" }}" title="{{ result.site.url }}">
                <strong>{{ result.succeeded|yesno:"PASSED,FAILED" }}</strong>
                <small>run at {{ result.run_date|date:"g:iA"|lower }}</small>
                <small>Duration (ms) {{ result.duration|micro_to_milli }}</small>
            </a>
        </p>
        {% if result.content %}
        <h3> Content </h3>
<pre>
{{ result.content }}
</pre>
{% endif %}
<p> <a> <strong> Code Executed </strong> </a> </p>
<pre>
{{ result|render_twill|urlize }}
</pre>
</div>
{% endfor %}
</div>

{% comment %}
{% load charts %}
{% chart %}
  {% chart-size "600x400" %}
  {% chart-type "line" %}
  {% chart-title "Duration over time" 18 "cc0000" %}
  {% chart-data duration_list %}
  {% axis "left" %}
    {% axis-range "0" "1" %}
  {% endaxis %}

  {% chart-range-marker "h" "000000" 1 .997 %}
{% endchart %}
{% endcomment %}


{% endblock %}

